<footer id="cs-footer-269">
  <div class="cs-container">
    <div class="cs-logo-group">
      <a aria-label="go back to home" class="cs-logo" href="/index.html">
        <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Footer/logo-light.svg" alt="logo" width="240" height="32">
      </a>
      <p class="cs-text">{{ site.footer_text | default: "Etiam nulla ultrices consequat, posuere nulla." }}</p>
    </div>
    <ul class="cs-nav">
      <li class="cs-nav-li"><span class="cs-header">Sitemap</span></li>
      <li class="cs-nav-li"><a class="cs-nav-link" href="/index.html">Home</a></li>
      <li class="cs-nav-li"><a class="cs-nav-link" href="/about.html">About</a></li>
      <li class="cs-nav-li"><a class="cs-nav-link" href="/portfolio.html">Portfolio</a></li>
      <li class="cs-nav-li"><a class="cs-nav-link" href="/reviews.html">Reviews</a></li>
      <li class="cs-nav-li"><a class="cs-nav-link" href="/contact.html">Contact</a></li>
    </ul>
    <ul class="cs-contact">
      <li class="cs-nav-li"><span class="cs-header">Contact</span></li>
      <li class="cs-contact-li"><a class="cs-contact-link" href="tel:{{ site.phone | default: '123-456-7890' }}">{{ site.phone | default: '(123) 456-7890' }}</a></li>
      <li class="cs-contact-li"><a class="cs-contact-link" href="mailto:{{ site.email | default: 'info@codestitch.com' }}">{{ site.email | default: 'info@codestitch.com' }}</a></li>
      <li class="cs-contact-li cs-social-group">
        <div class="cs-social">
          <a class="cs-social-link" aria-label="visit google profile" href="#"><img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg" alt="google" width="11" height="11"></a>
          <a class="cs-social-link" aria-label="visit facebook profile" href="#"><img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6" height="11"></a>
          <a class="cs-social-link" aria-label="visit instagram profile" href="#"><img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg" alt="instagram" width="11" height="11"></a>
        </div>
      </li>
    </ul>
  </div>
</footer>
