<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="canonical" href="{{ page.canonical | default: site.url }}">

  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">

  <meta property="og:title" content="{{ page.og_title | default: page.title | default: site.title }}"/>
  <meta property="og:description" content="{{ page.og_description | default: page.description | default: site.description }}"/>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | absolute_url }}"/>
  <meta property="og:image" content="{{ page.og_image | default: '/assets/images/social.jpg' | absolute_url }}"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicons/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="preload" as="image" href="/assets/images/logo-light.png">
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

  <link rel="stylesheet" href="/css/core-styles.css">
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
  {% endif %}
  <link rel="stylesheet" href="/css/dark.css">

  <title>{{ page.title | default: site.title }}</title>
</head>
